.Main {
  margin: 0;
  padding: 0;

  &__video-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__video {
  }

  &__mask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .55);
    z-index: -1;
  }

  &__container {

  }

  &__content {
    margin: auto;
    width: 100%;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0;
    padding: 0 0 16px 0;
    font-size: 1.8rem;
    letter-spacing: .35rem;

    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  &__email-form {

  }

  &__email {
    padding: 8px;
    width: 200px;
    border: 0;
    color: #444;
    text-transform: uppercase;
    font-size: .6rem;
  }

  &__email::placeholder {
    color: #CCC;
  }

  &__button {
    background: #000;
    color: #fff;
    padding: 8px 30px;
    margin: 0 0 0 0;
    border: 0;
    text-transform: uppercase;
    font-size: .6rem;
  }
}
