.Main {

  &__video-container {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: -2;
    overflow: hidden;

    @mixin atMedium {
      display: block;
      visibility: visible;
    }
  }

  &__video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  &__video-container-mobile {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: -2;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    @mixin atMedium {
      display: none;
      visibility: hidden;
    }
  }

  &__bg-image {
    height: 100vh;
    object-fit: cover;
  }

  &__mask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .55);
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__logo {
    width: 250px;
    margin-bottom: 30px;
  }

  &__email-form {
    width: 250px;
  }

  &__email {
    width: 66.66%;
    padding: 8px;
    border: 0;
    color: #444;
    font-size: .6rem;
    text-transform: uppercase;
  }
  
  &__email::placeholder {
    color: #CCC;
  }
  
  &__email--full {
    width: 100%;
    transition: all .2s ease-in;
  }

  &__button {
    display: inline-block;
    width: 33.33%;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    padding: 8px;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    font-size: .6rem;
    transition: all .2s ease-in;
  }

  &__button:hover {
    background: rgba(0, 0, 0, .8);
  }
  
  &__button--disabled {
    display: none;
  }
}
