/* Global styles */
/* Media Queries */
/*
Implement using:
	@mixin atSmall {
		property: value
	}
*/
/* CSS Parallax Scrolling */
/*
Implement using:
	@mixin parallax(-.5);
*/
/*$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : true !default;*/
/*@define-mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  $element {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}*/
/*@define-mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1))
  ;
  z-index: $distance * 1000;
}*/
html, body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Module styles */
.page-section {
  width: 100%;
  overflow: hidden;
}
.page-section::after {
		content: "";
		clear: both;
		display: table;
	}
/*Component styles */
.Main__video-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
.Main__video {

  }
.Main__mask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .55);
    z-index: -1;
  }
@media (min-width: 480px) {
      .Main__mask__mask {
        background: red;
      }
	}
.Main__container {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100vh;
  }
@media (min-width: 480px) {
.Main__container {
      padding: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center
  }
	}
.Main__logo {
    width: 250px;
    margin-bottom: 30px;
  }
.Main__email-form {
    width: 250px;
  }
.Main__email {
    width: 66.66%;
    padding: 8px;
    border: 0;
    color: #444;
    font-size: .6rem;
    text-transform: uppercase;
  }
.Main__email::-webkit-input-placeholder {
    color: #CCC;
  }
.Main__email:-ms-input-placeholder {
    color: #CCC;
  }
.Main__email::-ms-input-placeholder {
    color: #CCC;
  }
.Main__email::placeholder {
    color: #CCC;
  }
.Main__email--full {
    width: 100%;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
.Main__button {
    display: inline-block;
    width: 33.33%;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    padding: 8px;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    font-size: .6rem;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
.Main__button:hover {
    background: rgba(0, 0, 0, .8);
  }
.Main__button--disabled {
    display: none;
  }
.NotFound {
  font-size: 2rem;
  color: red;
}
.NotFound__bold {
    font-weight: bold;
  }
